div {
  text-align: center;
}

.icon {
  font-size: 100px
}

.label {
  margin-top: 25px;
  font-size: 20px;
}

.btn-custom {
  cursor: pointer;
  background: #ddefff;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #86c6ff;

  &:hover {
   background: #b9ddfd;
 }
}
